<button type="button" name="button" (click)='getDetailsFromServiceClass1()'>Student 1</button>
<ul class="list-group">
   <li *ngFor="let detail of detailsReceived1" class="list-group-item">{{detail}}</li>
</ul>
                                   
<pre></pre>

<button type="button"name="button"(click)="getDetailsFromServiceClass2()">Student 2</button>
<ul class="list-group">
   <li *ngFor="let detail of detailsReceived2" class="list-group-item">{{detail}}</li>
</ul>

<pre></pre>

<button type="button" name="button" (click)='getDetailsFromServiceClass3()'>Student 3</button>
<ul class="list-group">
   <li *ngFor="let detail of detailsReceived3" class="list-group-item">{{detail}}</li>
</ul>
                                            